html,
body {
  margin: 0;
  padding: 0;
}

.trello {
  width: 100%;
  /* display: flex; */
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column {
  background-color: rgb(216, 216, 216);
  width: 33%;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  float: left;
}

.card {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  font-size: 20px;
  color:  rgb(41, 41, 41);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
  position: relative;
}
.card:hover {
  cursor: default;
}
.card:active {
  cursor: grabbing;
  transform: rotate(-2deg);
}

.cross {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
  opacity: 0;
}
.cross:hover,
.cross:active {
  opacity: 1;
  cursor: pointer;
}
.cross:active {
  background-color: rgb(170, 170, 170);
}

.title {
  margin: 10px;
  color: rgb(94, 94, 94);
}

.addCard > span {
  font-weight: 700;
  font-size: 20px;
  color: rgb(94, 94, 94);
  margin-left: 5px;
}
.addCard > span:first-child:hover {
  cursor: default;
}
.addCard > span:last-child:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(94, 94, 94);
}





[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.card.dragElem {
  cursor: grabbing;
  transform: rotate(-2deg);
  /* background-color: rgb(210, 210, 210); */
  color: rgb(210, 210, 210);
  opacity: .9;
}
.card.dragElem:active {
  cursor: grabbing;
}
.card.over {
  /* transform: translateY(20px); */
  position: relative;
  margin-top: 25px;
}
.card.over::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 80%;
  margin-left: 10%;
  border-top: 2px dotted rgb(94, 94, 94);
}


.addCard.addForm {
  background-color: red;
}

.input_addCard {
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.input_addCard:focus {
  border: none;
}


.btn{
  border: none;
  margin: 0;
  padding: 10px 5px;
  background: rgb(0, 151, 33);
  color: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
  background: rgb(0, 131, 28);
}
.reset {
  border: none;
  margin: 0;
  padding: 0px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 30px;
  background: none;
  color: rgb(94, 94, 94);
}
.reset:hover {
  cursor: pointer;
  color: rgb(49, 49, 49);
}